* {
    margin: 0;
}
html {
    height: 100%;
}
body {
    background-color: #606060;
}
.nav {
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
}
a:hover {
    color: burlywood;
    border-bottom: 2px burlywood solid;
    padding-bottom: 20px;
}
a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}

.thehallhover:hover{
    background-image: url(/img/logo_hover.png); 
}

header {
    background-image: url(/img/bg_header.jpg);
    background-size: cover;
} 


.section1 {
    display: flex;
    justify-content: center;
    padding: 60px;
    margin-top: 180px;
    margin-left: 250px;
}
.parag {
    display: flex;
    flex-direction: column;
    color: white;
    width: fit-content;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 3px;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    
}


.parag h1 {
    font-size: 4.5em;
    margin-bottom: 60px;
}

.parag p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 40px;
}

.lookmore {
    width: fit-content;
    font-weight: bolder;
    color: white;
    background: burlywood;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
}

.aboutgohall {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #272727;
    margin: auto;
    padding: 80px;
}

h2 { 
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    margin-bottom: 60px;
    color: white;
    gap:20px;
   
}

h2 span {
    color: burlywood;
}
.boxintro {
    display: flex;
    height: auto;
}
.intro {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.txt1 p {
    color: white;
    font-size: 1.5em;
    width: fit-content;
    margin-bottom: 30px;
}

.lorem {
    color: #c2c2c2;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 20px;

}

.lorem1 p {
    border-left: 4px solid burlywood;
    color: burlywood;
    font-size: 1em;
    line-height: 1.5em;
    padding-left: 50px;
    margin-bottom: 20px;

}
.londonhall{
    position: relative;
    width: 25%;
}
.londonhall img {
    height: auto;
}
.lond {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: fit-content;
    font-weight: bolder;
    color: white;
    background: burlywood;
    padding: 5px 10px;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;

}

.londonhall div {
    position: relative;
}

.aboutprojects {
    background-color: burlywood;
    width: 50%;
    margin: auto;
    padding: 80px;
}
.hall {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    gap: 50px;
    position: relative;

}
h3 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    margin-bottom: 60px;
    color: white;
    gap: 20px;
}

h3 span {
    color: #272727;
}
.paris {
    display: flex;
    position: absolute;
    height: fit-content;
    top: 0;
    margin: 30px;
    color: white;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    line-height: 1.5em;
}
.parisbot {
    display: flex;
    position: absolute;
    height: fit-content;
    bottom: 0;
    margin: 30px;
    color: white;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    background-color: #272727;
    padding: 2px 5px;
}
.london {
    display: flex;
    position: absolute;
    height: fit-content;
    top: 0;
    margin: 30px;
    color: white;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    line-height: 1.5em;
}
.londonbot {
    display: flex;
    position: absolute;
    height: fit-content;
    bottom: 0;
    margin: 30px;
    color: white;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    background-color: #272727;
    width: 20%;
    padding: 2px 5px;
}









.aboutservices {
    background-color: #272727;
    width: 50%;
    margin: auto;
    padding: 80px;
    height: 500px;
}


h4 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Franklin Gothic ', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    margin-bottom: 60px;
    color: white;
    gap: 20px;
}

h4 span {
    color: burlywood;
}